:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --background-color:#ffffff;
    --section-color:#F5F5F5;
    --hero-footer-color: #2F303A;
    --team-color:#F5F4FA;
    --hero-button:#188CE8;
    --mailtel-color:#rgba(255, 255, 255, 0.6);
}

/*header*/
body{
    background-color:var(--background-color);
    color:var(--primary-text-color);
    font-family: "Roboto",sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
}
.logo{
    color:var(--accent-color);
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo .accent{
    color:#000000;
}

.list{
    list-style: none;
}

.contact .link:hover,
.contact .link:focus{
    color: var(--accent-color);
}

.link,
.link-physical{
    color:var(--primary-text-color);
    text-decoration: none;
}

/*site-nav*/

.site-nav{
    color:var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover, 
.site-nav .link:focus{
    color:var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}

.contact{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/*hero*/

.hero{
    background-color:var(--hero-footer-color);
}

.hero-title{
    color:var(--background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/*section*/

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title{
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/*features*/

.feature-list .title{
    color:var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

/*team*/

.team .title{
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-section{
    background-color: var(--team-color)
}

.team-text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

/*button*/

.button{
    color:var(--background-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button:hover,
.button:focus{
    background-color:var(--hero-button);
}

/*footer*/

footer{
    background-color:var(--hero-footer-color);
}

.footer{
    font-style: normal;
}

.logo .footerr{
    color:var(--background-color);
}

.mailtel{
    color:var(--mailtel-color);
}

.link-physical{
    color:var(--background-color);
}

.link-physical:hover,
.link-physical:focus,
.mailtel:hover,
.mailtel:focus{
    color:var(--accent-color)
}

/*Портфолио*/

/*Портфолио мейн*/

.portfolio-list .title{
    color:var(--title-text-color);
}

.button-filter{
    color: var(--title-text-color);
    background-color:var(--team-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
}

.button-filter:hover,
.button-filter:focus{
    background-color:var(--accent-color);
    color:var(--background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
    
}
.portfolio-list .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.87;
}